<h1> Cifrado Hash Eficiente </h1>
<h2>@ViewBag.Mensaje</h2>
<form method="post">
    <label>Iteraciones:</label>
    <input type="text" name="iteraciones" class="form-control" /><br />
    <label>Salt: </label>
    <input type="text" name="salt" class="form-control" /><br />
    <label>Contenido: </label>
    <input type="text" name="contenido" class="form-control" /><br />
    <label>Resultado: </label>
    <input name="resultado" class="form-control" value="@ViewBag.Resultado"/>
    <button type="submit" class="btn btn-danger" name="accion" value="cifrar">Cifrar</button>
    <button type="submit" class="btn btn-info" name="accion" value="comparar">Comparar</button>
</form>