<h1>Home</h1>

<a asp-action="SubirFichero" asp-controller="Home">Subir fichero</a>

<a asp-action="EjemploSession" asp-controller="Home">Ejemplo Session</a>

<a asp-action="MultiplesPersonas" asp-controller="Home">Ejemplo Session Lista personas</a>