<h1>Caching distribuido</h1>

<a asp-action="HoraSistemaDistribuida" asp-controller="Caching"> Actualizar Página </a>

<a asp-action="HoraSistemaDistribuida" asp-controller="Caching" asp-route-dato="dato1"> Dato 1 </a>
<a asp-action="HoraSistemaDistribuida" asp-controller="Caching" asp-route-dato="dato2"> Dato 2 </a>
<h1 style="color:fuchsia">@ViewBag.Fecha</h1>
